.root{
  font-family: monospace, monospace;
}

.wrap {
  display:inline-block;
  overflow-x:scroll;
  white-space: nowrap;
}
.container {
  margin-left: 0;
}

.cnk {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.idx {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.hidden {
  display: none;
}

.lblContainer {
  direction: rtl;
  display: inline-block;
}

.lbl-hidden {
  padding-left: 2px;
  padding-right: 5px;
  -webkit-user-select: none;
  display:block;
  height:1em;
  line-height:1em;
  margin-bottom: 1.5em;
  font-style: italic;
  justify-content: flex-end;
  flex-direction: column;
}

.lbl {
  font-size: 1em;
}

.cell{
  margin-bottom: 1.5em;
  height: 1em;
  line-height:1em;
  display: block;
  -webkit-user-select: none;
}

.topidx {
  width: 0.6em;
  direction: rtl;
}

.topidxrotate {
  width: 0.6em;
  transform: rotate(-90deg);
}

.highlight {
  background-color: #EBD270!important;;
}

/* 'card' name is not available because used by bootstrap */
.crd {
  position: relative;
  display: inline-block;
}

.crds {
  display: inline-block;
  -webkit-user-select: none;
}
