.root{
  font-family: monospace, monospace;
}

.container {
  margin-left: 0;
}

.cnk {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.idx {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

//.hidden {
//  display: none;
//}

.lblContainer {
  direction: rtl;
}

.lbl-hidden {
  padding-left: 2px;
  padding-right: 5px;
  -webkit-user-select: none;
  display:block;
  height:1em;
  line-height:1em;
  margin-bottom: 1.5em;
  font-style: italic;
  justify-content: flex-end;
  flex-direction: column;
}

.lbl {
  font-size: 1em;
}

.cell{
  margin-bottom: 1.5em;
  height: 1em;
  display: inline-block;
}

.highlight {
  background-color: #EBD270!important;;
}

/* 'card' name is not available because used by bootstrap */
.crd {
  position: relative;
  display: inline-block;
}

.crds {
  display: inline-block;
  -webkit-user-select: none;
}

.cnk {
  margin: .25rem;

  .crd .index.top {
    display: none;
  }

  .crd:last-child .index.top {
    display: block;
  }
}

.cell {
  position: relative;
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  // Placeholder keeps the correct space for content
  .placeholder {
    visibility: hidden;
  }
  // Value is the actually displayed value in cell
  .value {
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Style index cells
.cell.index {
  // Style top index
  &.top {}
  // Style left index
  &.left {
    margin-right: .5rem;
  }
}

